<h1> New Portfolio </h1>

<%= form_for @portfolio do |f| %>

  <%= render partial: '/partials/errors' %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create Portfolio" %>
  </p>
<% end %>
