<h1> Buy Stock </h1>
<%= @stock_info['Name'] %> <br>
<%= @stock_info['symbol'] %> <br>
Ask Price: <%= @stock_info['Ask'] %>

  <%= render partial: '/partials/errors' %>

    <%= form_for @stock, :url => buy_path(@stock_info['symbol']) do |f| %>

      <p>
        Portfolio: <br>
        <%= f.select(:portfolio_id, @portfolios) %>
      </p>

      <p>
        <%= f.label :volume %><br>
        <%= f.number_field :volume %>
      </p>

      <%= f.hidden_field(:symbol, value: @stock_info['symbol']) %>
      <%= f.hidden_field(:buy_price, value: @stock_info['Ask']) %>

      <p>
        <%= f.submit "Buy Stock" %>
      </p>
    <% end %>
