<!DOCTYPE html>
<html>
  <head>
    <title>StockPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div id="title"> <%= link_to "Portfolio Helper", root_path %> </div>
        <% if current_user %>
          <%= current_user.username %> <br>
          <%= link_to "Home", portfolios_path %>
          <%= link_to "Logout", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Login", login_path %>
          <%= link_to "Sign Up", new_user_path %>
        <% end %>

        <%= form_tag(search_path, method: "post", class: "search-form") do %>
          <%= text_field_tag(:id, nil, placeholder: "Search by Ticker", class: "search-bar")  %>
        <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
